<h2>Por País</h2>
<hr>
<div class="row">
    <div class="col">
        <app-pais-input 
        (onEnter)="Buscar( $event )"
        (onDebounce)="Sugerencias( $event )"
        placeholder="Buscar por País"
        
        ></app-pais-input>
    </div>
</div>
<ul class="list-group">
    <li *ngFor="let pais of paisSugerido"
    class="list-group-item list-group-item-action">
       <a href="" class="nav-link" 
       [routerLink]="['/Pais',pais.alpha2Code]"
       >
       <img [src]="pais.flag" alt="" class="small-flag-url">
       {{ pais.name}}

       </a>
    </li>
</ul>

<hr>

<div *ngIf="hayError"
    class="alert alert-danger">
    No se encontró nada con el término {{termino}}
</div>

<div  class="row" *ngIf="paises.length>0">
    <div class="col">
        <app-table-pais [paises]="paises"></app-table-pais>

    </div>
</div>
