<h2> Busquedas</h2>
    <hr>
    <ul class="list-gruop">
      <li 
        class="list-group-item"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]={exact:true}
        >
        Buscar País
      </li>

      <li 
        class="list-group-item" 
        routerLink="Region"
        routerLinkActive="active"
        >
        Por Región
      </li>

      <li 
        class="list-group-item" 
        routerLink="Capital"
        routerLinkActive="active"
        >
        Por Cápital
      </li>
    </ul>
