<table class="table table-striped animate__animated animate__fadeIn">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of paises; let i =index">
            <td>{{i+1}}</td>
            <td>
                <img src="{{item.flag}}" alt="" class="small-flag">

            </td>
            <td>{{item.capital }} , {{ item.name}}</td>
            <td>{{item.population | number}}</td>
            <td>
                <a [routerLink]="['/Pais',item.alpha2Code]">Ver</a>
            </td>
        </tr>
    </tbody>
</table>

